$color-dark-nav: #072b43;
$color-dark-body: #96cdc2;
$color-light-body: #cce4d6;
$color-select-box: #7ebdb2;


body{
  background:$color-light-body;
  width: 100%;
  // margin: 0px
}

.navbar{
  margin-bottom: 0;
  background-color: $color-dark-nav;
  font-size: 18px;
  a{
    color:white;
    margin-right: 5px;
  }

  .navbar-toggle {
    color: white;
    font-size: 20px;
    margin: 0px;

}
}

.bg-1{
  // background-color: green;
  // padding: 10px;
  margin-top: 0px;
  // min-height: 400px;
  .title{
    float: right;
    position: relative;
    font-size: 15px;
    left:-7%;
    top: 50px;
    @media screen and (max-width: 851px) {
      left:0%;
      // top: 50px;
    }
  }
  img{
    height: 220px;
    width: auto;
  }
}

.bg-2{
  font-size: 15px;
  min-height: 500px;
  // width: 110%;
  background: $color-dark-body;

  .three-box{
    // width: 30%;
    height: 200px;
    background: $color-dark-nav;
    margin: 4%;
    color: white;
  }

  .glyphicon-fire{
    font-size: 60px;
    color: red;
    margin-top: 40px;
  }

  .bg-2-content{
    width: 70%;
    display: block;
    margin: 20px auto;

  }
  form{
    margin: 0 auto;
    width: 70%;
  }
}

.bg-3{
  margin: 20px 0px;

}

.wknews{//wknews
  padding: 20px 0px;
  background: $color-dark-body;
  // min-height:320px;


}

.faq{
  // 851
  background: $color-dark-body;
  min-height: 860px;
  font-size: 18px;
  .glyphicon{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 20px;
    color: red;
  }
  h1{
    margin-bottom: 50px;
  }
  img{
    float: right;
  }

}

.bg-6{
  background: $color-dark-body;
  height: 70px;
}

.share{
    margin: 20px 0px;
    .icon{
      height: 100px;
      width: auto;
      margin: 20px;
    }

    .share{
      button{
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
}



.latest-bg-1{
  background: $color-dark-body;
  height: 230px;
  .box{
    position: relative;
    left: 5%;
  }
  a{
    background: $color-dark-nav;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px;
  }
  img{
    height: 150px;
    @media screen and (max-width: 851px) {
      visibility: hidden;
      // top: 50px;
    }
    position: absolute;
    right: 5%;
    top: 20%
  }
}

.detail{
  th, td{
    max-width: 120px;

  }

  .detail_even td{
    background: white;
    margin: 0px;
    padding: 0px

  }

  .detail_odd td{
    background: #DCDCDC;
    margin: 0px;
    padding: 0px;
  }
}

.latest-bg-2{
  form{
      margin-top: 5%;
    }
  }

  table{
    width: 85%;
    margin: 0px auto;

    border: 1px solid white;
    .rwd-td{
      display: none;
    }
  }

th, td{
  width: 120px;
  background: white;
}

.dropdown {text-align:center;}
.button, .dropdown-menu {margin:1px auto}
.dropdown-menu {width:200px; left:50%; margin-left:-100px;}


@media screen and (max-width: 851px) {
  table,tbody, tr,td,div{
    display: block;
  }
  table{
  .rwd-td{
    display:block;
    float: left;
    width: 40%;

  }
  td{
    width: 100%;
  }

  tr{
    margin-top: 15px;
  }

  th{
    display: none;
  }
  }

}

ul{
  // label[for=id_OT_1], label[for=id_OT_0], label[for=id_OT_2],  label[for=id_OT_3]
  li{
    list-style-type: none;
    display: inline;
  }
  //
  // label{
  //   border: 1px solid green;
  //   width: 23%;
  //   height: 10%;
  //   background-color: $color-select-box;
  //   input{
  //     display: none;
  //   }
  // }
  //
  // .case{
  //   background-color: red;
  // }


}

#loader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid RGB(252, 238, 33);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader-text {
	position: absolute;
  left: 46%;
  top: 65%;
	font-size: 20px;
	width: 120px;
  height: 120px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// 控制了 loading page 的東西
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
