



#id_gender{
  width: 66px;
}
#id_date_number{
  width: 268px;
}

#id_OT_payment{
  width: 114px;
}

#id_salary_period, #id_OT_frequency{
  width: 104px;
}

#id_industry, #id_place{
  width:186px;
}

#id_company, #id_jobTitle{
  width:267px
}

#id_contract_hour{
  width: 288px;
}

#id_latest_year{
  width: 530px;
}

#id_job_type{
  width: 65px;
}

.submit{
  font-size:27px;
}
