
h1 {
  font-size: 55px;
  line-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  text-align: left;
  color: #534741;
  z-index: 2;
}

h2 {
  font-size: 30px;
  color: #534741;
  margin:0;
  z-index: 2;
}

p {
  color: #534741;
  font-size: 17px;
  margin-top: 0;
  line-height: 26px;
}

p.heading{
  color: #534741;
  font-size: 14px;
  text-align: left;
}

.buttontext{
  background-color: #534741;
  color: #FCEE21;
  font-family: "source-han-serif-tc";
}

// for the slider
#input-with-keypress-1, #input-with-keypress-0{
  width:50%;
}
#id_keyword{
  position:absolute;
  left:729px;
  top:211px;
  height:26px;
  width:233px;
}
#id_company{
  position:absolute;
  left:968px;
  top:211px;
  width:233px;
  height:26px;
}

$down_width: 155;

#id_location{
  position:absolute;
  left:727px;
  top:246px;
  height:26px;
  width:$down_width;
}

#id_industry{
  position:absolute;
  left:1047px;
  top:246px;
  height:26px;
  width:$down_width;
}

#id_salary_type{
  position:absolute;
  left:888px;
  top:246px;
  width:$down_width;
  height:26px;
}

#input-with-keypress-0, #input-with-keypress-1{
  text-align: center;
}


// for the three brown buttons
.job_row_model_filter{
  span{
    padding: 5px;
    margin-right: 8px;
    background-color: RGB(252, 238, 33);
    color: RGB(0,0,0);
    text-decoration: none;

  }

  span:hover{
    cursor: pointer;
  }

  span.selected{
    background-color: RGB(83, 71, 65);
    color:RGB(252, 238, 33);
  }
}

.job_row_box{
  background: RGB(83,71,65);
  font-size: 12px;
  color:RGB(252, 238, 33);
  a{
    text-decoration:none;
    color:RGB(252, 238, 33);
  }
}

.job_row_header, .job_row_box{
  padding:4px;
}

.next, .last{
  cursor: pointer;
}

.no_result_wrapper{
    display: table;
    $no_result_text_width: 600;
    $no_result_text_height: 30;
    .no_result_text{
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: $no_result_text_width;
      height: $no_result_text_height;
      margin-left: -$no_result_text_width/2;
      margin-bottom: $no_result_text_height/2;

      // -$no_result_text_height/2+'px';
    }

}
