{% load static %}

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>關於我們</title>

</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div style="position:absolute; left:0px; top:0px; width:1280px; height:1271px;">
	{% include 'navbar.htm' %}

	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_02.jpg' %}); position:absolute; left:0px; top:42px; width:1280px; height:26px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_03.jpg' %}); position:absolute; left:0px; top:68px; width:643px; height:74px;" title="">

	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_04.jpg' %}); position:absolute; left:643px; top:68px; width:637px; height:17px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_05.jpg' %}); position:absolute; left:643px; top:85px; width:33px; height:814px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_06.jpg' %}); position:absolute; left:676px; top:85px; width:116px; height:29px;" title="">
		常見問答
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_07.jpg' %}); position:absolute; left:792px; top:85px; width:488px; height:52px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_08.jpg' %}); position:absolute; left:676px; top:114px; width:116px; height:23px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_09.jpg' %}); position:absolute; left:676px; top:137px; width:538px; height:720px;" title="">
		這個網站是匿名的嗎？ 為什麼匿名還需要以 Facebook 帳戶驗證？
是的，這個網站是匿名的，您的 Facebook 帳戶資訊不會於任何地方被顯示、揭露或分享。Facebook 帳戶驗證是為了避免惡意使用者大量輸入假資訊。目前設定每一個 Facebook 帳戶僅可以上傳 5 筆工時、薪資資訊，未來將視情況做調整。

我提供的資料會如何被使用？
您的資料將會被運用於 GoodJob 團隊之服務中，供其他使用者查詢。未來也可能與其他工作資訊透明化專案合作，共享真實的工作資訊；但您的 Facebook 帳戶資訊並不會被共享。

我填錯了，想要刪除、修改資料怎麼辦？
請填寫本表單，用以確保您是本人，也保障您的權益。填寫完畢後當週的週日，工程師會統一處理，感謝您的耐心等候。

哪裡可以查詢到工時、薪資的資訊?
您可以在導覽列中，找到「查看薪時」的連結。

請問你們是誰？
詳情請見關於我們。

如果我對這個專案很有興趣，想要一起貢獻心力或洽談合作，該怎麼做?
這是一個開源專案，我們期待與任何個人或團體洽談合作，請用 Facebook 聯絡我們。其中，若您有以下任一專長或條件，我們非常希望您可以加入我們！ 具網頁前端開發能力者 (React) 有資訊設計專長者，以協助設計勞動權益資訊懶人包 對於推動工作資訊透明化、改善台灣勞動環境具有熱忱的任何人
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_10.jpg' %}); position:absolute; left:1214px; top:137px; width:66px; height:762px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_11.jpg' %}); position:absolute; left:0px; top:142px; width:253px; height:127px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_12.jpg' %}); position:absolute; left:253px; top:142px; width:231px; height:57px;" title="">
		關於我們
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_13.jpg' %}); position:absolute; left:484px; top:142px; width:159px; height:127px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_14.jpg' %}); position:absolute; left:253px; top:199px; width:231px; height:70px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_15.jpg' %}); position:absolute; left:0px; top:269px; width:164px; height:360px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_16.jpg' %}); position:absolute; left:164px; top:269px; width:376px; height:254px;" title="">
		一隻手掌拍不響，即使我們大力推動這場運動，也不能少了各界好漢支持！假如你認同打工仔間要互相幫助，或對於無良僱主的手段感到不齒，我們誠邀你慷慨提供工作資料。我們保證所有個人資料保密，防止僱主秋後算帳。
同時，假如你有基本網頁開發技能，並且認同我們的理念，我們亦邀請你加入我們的團隊。請電郵info@gmail.com進一步溝通！

	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_17.jpg' %}); position:absolute; left:540px; top:269px; width:103px; height:1002px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_18.jpg' %}); position:absolute; left:164px; top:523px; width:376px; height:106px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_19.jpg' %}); position:absolute; left:0px; top:629px; width:132px; height:126px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_20.jpg' %}); position:absolute; left:132px; top:629px; width:315px; height:57px;" title="">
		加入我們吧！
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_21.jpg' %}); position:absolute; left:447px; top:629px; width:93px; height:126px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_22.jpg' %}); position:absolute; left:132px; top:686px; width:315px; height:69px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_23.jpg' %}); position:absolute; left:0px; top:755px; width:99px; height:516px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_24.jpg' %}); position:absolute; left:99px; top:755px; width:375px; height:255px;" title="">
		一隻手掌拍不響，即使我們大力推動這場運動，也不能少了各界好漢支持！假如你認同打工仔間要互相幫助，或對於無良僱主的手段感到不齒，我們誠邀你慷慨提供工作資料。我們保證所有個人資料保密，防止僱主秋後算帳。
同時，假如你有基本網頁開發技能，並且認同我們的理念，我們亦邀請你加入我們的團隊。請電郵info@gmail.com進一步溝通！

	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_25.jpg' %}); position:absolute; left:474px; top:755px; width:66px; height:516px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_26.jpg' %}); position:absolute; left:676px; top:857px; width:538px; height:42px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_27.jpg' %}); position:absolute; left:643px; top:899px; width:637px; height:30px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_28.jpg' %}); position:absolute; left:643px; top:929px; width:637px; height:17px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_29.jpg' %}); position:absolute; left:643px; top:946px; width:34px; height:52px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_30.jpg' %}); position:absolute; left:677px; top:946px; width:147px; height:29px;" title="">
		聲明及條款
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_31.jpg' %}); position:absolute; left:824px; top:946px; width:456px; height:289px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_32.jpg' %}); position:absolute; left:677px; top:975px; width:147px; height:23px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_33.jpg' %}); position:absolute; left:643px; top:998px; width:33px; height:237px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_34.jpg' %}); position:absolute; left:676px; top:998px; width:79px; height:14px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_35.jpg' %}); position:absolute; left:755px; top:998px; width:69px; height:237px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_36.jpg' %}); position:absolute; left:99px; top:1010px; width:375px; height:261px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_37.jpg' %}); position:absolute; left:676px; top:1012px; width:79px; height:223px;" title="">
	</div>
	<div style="background-image:url({% static 'job/image/images/WKnews-web-draft-3_about_us_38.jpg' %}); position:absolute; left:643px; top:1235px; width:637px; height:36px;" title="">
	</div>
</div>
</body></html>
