{% load static %}

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>關於我們</title>

</head>
<body>
<div class="body_wrapper" style="background-image:url({% static 'job/image/images/WKnews-web-about-us.jpg' %});  position:absolute; left:0px; top:0px; width:1280px; height:1271px;" >

	{% include 'navbar.htm' %}
	<div style="position:absolute; left:835px; top:100px;" title="">
		<h1 style="height: 42px;  ">常見問答</h1>
	</div>

	<div class="QaA" style="position:absolute; left:676px; top:180px; width:538px; height:720px;" title="">


		<h3>我的個人資料會保密嗎？</h3>
		<p>您提供的資料是匿名的。您的 Facebook 帳戶資訊不會於任何地方顯示、揭露或分享。Facebook 帳戶驗證是為了避免惡意使用者大量輸入假資訊。</p>

		<h3>我提供的工時工資資訊會在其他地方公開嗎？</h3>
		<p>不會。用戶提供的原始資料不會在任何其他地方透露，亦不會轉交任何第三方。唯惟工新聞會以整體數據作分析，詳情請參閱聲明及條款。</p>

		<h3>我很認同你們的理念，可以加入你們團隊嗎？</h3>
		<p>假如你認同我們的理念，有基本寫作技能或網頁開發技能，我們誠邀你加入我們的團隊。請電郵info@wknews.org或私信惟工新聞Facebook進一步溝通！</p>

	</div>

	<div style="background:RGB(252, 238, 33); position:absolute; width: 250px;left:238px; top:142px;" title="">
		<h1>關於我們</h1>
	</div>

	<div style="position:absolute; left:204px; top:275px; width:306px; height:254px;" title="">
		<p>惟工新聞是一群打工仔女工餘時義務經營的獨立媒體，不牟利，不收受政府或企業資助，以綜合資訊網站形式提供新聞、評論及各種生活資訊。「開工網」是我們旗下的開發項目之一，以「工時薪資透明化運動」作藍本</p>

	</div>

	<div class="title_2" style="position:absolute; left:105px; top:629px; z-index: 10;" title="">
		<h1>「工時薪資透明化運動」是什麼？</h1>
	</div>

	<div style="position:absolute; left:99px; top:755px; width:375px; height:255px;" title="">
		<p>現時網絡上各種工作資訊，不是由僱主在求職網提供，便是由政府統計調查。可是，僱員每天面對的工作環境，加班、拖糧等刻薄手段，只有自己最清楚！透過工時、工資、加班時數等資訊的流通，打工仔能夠團結互助，識別不同工種的實際工作條件。</p>
	</div>

	<div style="position:absolute; left:677px; top:946px; z-index: 10;" title="">
		<h2>聲明及條款</h2>
		私隱<br>
			不會向第三方提供<br>

		版權<br>
			屬於所有提供資料者，及開工公司，不計勞工處

		只供自用<br>
			第三方不得抄錄<br>

		免責<br>
			https://wknews.org/disclaimer<br>

	</div>

</div>
</body></html>

<link rel="stylesheet" type="text/css" href="{% static 'job/css/aboutus.css' %}" />
