{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="https://use.typekit.net/bot8dtz.js"></script> -->
<!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="navbar">
  <div style="background:RGB(83,71,65); position:absolute; left:0px; top:0px; width:1280px; height:42px;" title="">
  </div>
  <div class="logo" style=" position:absolute; left:0px; top:0px; width:400px; height:52px;" title="">
    <a href="https://www.wknews.org"><img style='height:42px' src="{% static 'job/image/images/wklogog2.jpg' %}"/></a>
  </div>

  <div style=" position:absolute; left:139px; top:8px; width:400px; height:35px;" title="">
    <a href="{% url 'form' %}">工資時薪透明化運動</a>
    <a href="{% url 'jobs_gov_data' %}">查看時薪</a>
    <a href="{% url 'about_us' %}">關於我們</a>
  </div>
  <div style="position:absolute; left:1100px; top:12px; width:150px; height:29px; font-size:15px">
    {% if user.is_authenticated %}
      {{username}},  <a href="{% url 'logout' %}">登出 </a>
    {% else %}
      <a href="{% url 'social:begin' 'facebook' %}">facebook login</a>
    {% endif %}


  </div>

</div><!-- nav -->

<link rel="stylesheet" type="text/css" href="{% static 'job/css/general.css' %}" />
