{% load static %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" type="text/css" href="{% static 'job/css/nouislider.min.css' %}" />
	<script src="{% static 'job/jquery/nouislider.min.js' %}"></script>
	<script src="{% static 'job/jquery/wNumb.js' %}"></script>
<title>WKnews web draft 3</title>

</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div style="background-image:url({% static 'job/image/images/search_page1.jpg' %});  position:absolute; left:0px; top:0px; width:1280px; height:960px;" >
{% include 'navbar.htm' %}

	<div style="position:absolute; left:64px; top:65px; width:292px; height:129px;" title="">
		<h1>如何使用<br>這個網站？</h1>
	</div>
	<div style="position:absolute; left:392px; top:67px; width:304px; height:252px;" title="">
		<p style="z-index:10">現時，網路上各工種的資訊，不是由僱主在求職網提供，便是由政府作統計調查。可是，僱員每天面對的工作環境，加班、拖糧等刻薄手段，當然只有僱員自己才最清楚！要讓大家警惕，並<br>識別出無良僱主，各行各業打工<br>仔的互助便十分重要。透過工<br>時、工資、加班時數等資訊<br>的流通，團結抵抗無良僱<br>主就事半功倍！
		</p>
	</div>
	<div style="position:absolute; left:727px; top:155px; z-index:2;" title="">
	<h2>其他職位搜尋</h2>
	</div>

	<form action="{% url 'search' %}">
	<div title="">
		{{form.keyword}}
		<!-- 職位（例如：文員、速遞、店員、客戶助理、會計師） -->
	</div>

	<div title="">
		{{form.company}}
		<!-- 職位（例如：文員、速遞、店員、客戶助理、會計師） -->
	</div>
	<div title="">
		{{form.industry}}
		<!-- 行業 -->
	</div>
	<div title="">
		<!-- 地點 -->
		{{form.location}}
	</div>
	<div title="">
		<!-- 年薪 -->
		{{form.salary_type}}

	</div>

	<input style="position:absolute; left:727px; top:285px; width:58px; height:26px;" type="submit" value="提交" />
	</div>

	<div style="position:absolute; left:862px; top:285px; width:327px; height:70px;" title="">
		{% include 'range_slider.html' %}
	</div>
	</form>

	<div id="search_top" style="position:absolute; left:862px; top:355px; width:327px; height:73px;" title="">
	</div>


	<div style="background:#fefbb5; position:absolute; left:153px; top:385px; width:58px; height:27px;" title="">
	</div>

	<div style="background:#fefbb5; position:absolute; left:221px; top:385px; width:57px; height:27px;" title="">
	</div>

	<div class="job_row_model_filter" style="position:absolute; left:86px; top:388px;" title="">
		<!-- 這裏的datapage 是用來keep track 現在是第幾頁，這是用javascript 中的 page function時有用的 -->
		<span class='selected' data-page=1 data-link="job_gov_data">只顯示勞工處資料 </span>

		<span class='' data-link="collected_data" data-page=1>只顯示用戶輸入資料 </span>

		<!-- <span class='' data-link="both" data-page=1>混合顯示 </span> -->
	</div><!-- job_row_model_filter -->



	<div class="job_row_header job_row_header_jobTitle" style="position:absolute; left:86px; top:428px; width:190px; height:26px;" title="">
		職位
	</div>
	<div class="job_row_header job_row_header_company" style="position:absolute; left:284px; top:428px; width:300px; height: 26px" title="">
		公司名稱
	</div>
	<div class="job_row_header job_row_header_location2" style="position:absolute; left:590px; top:428px; width:145px; height:26px;" title="">
		地點
	</div>
	<div class="job_row_header job_row_header_industry" style="position:absolute; left:742px; top:428px; width:83px; height:26px;" title="">
		行業
	</div>

	<div class="job_row_header job_row_header_money" style="position:absolute; left:833px; top:428px; width:129px; height:26px;" title="">
		薪金 <span class="tri glyphicon glyphicon-triangle-bottom" data-type='salary' data-order='-'></span>
	</div>
	<div class="job_row_header job_row_header_working_day_number" style="position:absolute; left:969px; top:428px; width:110px; height:26px;" title="">
		每週天數 <span class="tri glyphicon glyphicon-triangle-bottom" data-type='working_day_number_float' data-order='-'></span>
	</div>

	{% if list.0.OT_frequency %}
		<div class="job_row_header job_row_header_week_total_hour" style="position:absolute; left:1087px; top:428px; width:110px; height:26px;" title="">
			加班情況
		</div>
	{% else %}
		<div class="job_row_header job_row_header_week_total_hour" style="position:absolute; left:1087px; top:428px; width:110px; height:26px;" title="">
			<span class="last_column">每週工時</span> <span class="tri glyphicon glyphicon-triangle-bottom" data-type='week_total_hour' data-order='-'></span>
		</div>
	{% endif %}

<div class="data_table_bundle">
{% include 'data_table.html' %}
</div>
</body>


 <link rel="stylesheet" type="text/css" href="{% static 'job/css/search_page.css' %}" />

 	<!-- 只顯示勞工署, 只顯示用戶輸入的資料, 混合顯示三個選項的function -->
	{% include 'search_page_triangle.html' %}

	<!-- 這個js 是用來控制三個按掣︰只顯示勞工處資料 只顯示用戶輸入的資料 混合顯示 -->
	{% include 'search_page_user_input_filter.html' %}

 </html>
