<script>

 // 只顯示勞工署, 只顯示用戶輸入的資料, 混合顯示三個選項的function


// 用於三角形 sorting
 var order = ""
 var type = ""
  $('.tri').click(function(){
    var position = $('#id_keyword').val()
    var industry = $('#id_industry').val()
    var location = $('#id_location').val()
    var upper_limit = $('#input-with-keypress-0').val()
    var lower_limit = $('#input-with-keypress-1').val()
    var salary_type = $('#id_salary_type').val()
    order = $(this).attr('data-order')
    type = $(this).attr('data-type')
    // var symbol = $(this).text()


    var previous_order= $(this).attr('data-order')
    var previous_symbol= $(this).attr('class')
    // console.log(previous_order, previous_symbol);

    if (previous_order=='-'){
      previous_order = ''
    } else if (previous_order=="") {
      previous_order = '-'
    }

    if (previous_symbol=='tri glyphicon glyphicon-triangle-bottom'){
      previous_symbol = 'tri glyphicon glyphicon-triangle-top'
    } else if (previous_symbol=="tri glyphicon glyphicon-triangle-top") {
      previous_symbol = 'tri glyphicon glyphicon-triangle-bottom'
    }

    $(this).attr('data-order', previous_order);
    // $(this).toggleClass('tri glyphicon glyphicon-triangle-bottom', 'tri glyphicon glyphicon-triangle-top');
    $(this).attr('class', previous_symbol);

    data = {
      'keyword':position,
      'industry':industry,
      'location':location,
      'upper_limit':upper_limit,
      'lower_limit':lower_limit,
      'salary_type':salary_type,
      'order':order,
      'type':type,
      // 'symbol':symbol
    }

    $.ajax({
      type: "GET",
      url: "{% url 'search' %}",
      data: data,
      success: function(result) {
          // 改變data table中的 data_list 和 pagination
          k =result['html']
          // console.log(k)
          $(".data_table_bundle").html(k)
          // $("body").append(k)
        }
  }); // end of ajax
  })
</script>
